
.header{
 padding:160px 200px;
 background: #555;
 color:#f1f1f1;
}

.content{
padding: 20px;
}

.sticky{
position: fixed;
top: 0;
width: 100%;
}


.sticky+.content{
padding-top: 102px;
}


img {
  border-radius: 25%;
}
