
.header{
 padding:80px 100px;
 background: #555;
 color:#f1f1f1;
}

.content{
padding: 40px;
}

.sticky{
position: fixed;
top: 0;
width: 100%;
}


.sticky+.content{
padding-top: 110px;
}

.footer {
    color: #333;
    font-size: 11px;
    text-align: center;
    vertical-align: bottom
}
.footer:before {
    clear: both;
    display: block;
    height: 600px;
    min-height: 500px;
}


img {
  border-radius: 25%;
}
