
.header{
 padding:80px 100px;
 background: #555;
 color:#f1f1f1;
}

.content{
padding: 40px;
}

.sticky{
position: fixed;
top: 0;
width: 100%;
}


.sticky+.content{
padding-top: 120px;
}

.footer{
 padding:80px 100px;
 background: #555;
 color:#f1f1f1;
}

.content{
padding: 40px;
}

.sticky{
position: fixed;
top: 0;
width: 100%;
}

.sticky+.content{
padding-bottom: 120px;
}


img {
  border-radius: 25%;
}
